<?php

$databases = array (
  'default' => array (
    'default' => array (
      'driver' => 'mysql',
      'database' => 'crc_admin',
      'username' => 'crcadmin',
      'password' => '3jf8e39Q',
      'charset' => 'utf8mb4',
      'collation' => 'utf8mb4_general_ci',
      'host' => '127.0.0.1',
      'port' => '3306',
    ),
  ),
  // Permament main DB for dids
  'crcdid' => array (
    'default' => array (
      'driver' => 'mysql',
      'database' => 'crc_dids',
      'username' => 'crcadmin',
      'password' => '3jf8e39Q',
      'host' => '127.0.0.1',
      'port' => '3306',
    ),
  ),

  // For admin portal (this) is the same as crcdid (above)
  'crc_auth_local' => array (
    'default' => array (
      'driver' => 'mysql',
      'database' => 'crc_dids',
      'username' => 'crcadmin',
      'password' => '3jf8e39Q',
      'host' => '127.0.0.1',
      'port' => '3306',
    ),
  ),


  // To be switched dynamically for customers server instances
  'crc_auth_external' => array (
    'default' => array (
      'driver' => 'mysql',
      'database' => 'crc_dids',
      'username' => 'crcadmin',
      'password' => '3jf8e39Q',
      'host' => '', // To be set dynamically
      'port' => '3306',
    ),
  ),


);
$db_prefix = '';

$update_free_access = FALSE;

$base_url = '{{scheme}}://{{admin_url}}';
$cookie_domain = '.{{admin_url}}';

ini_set('session.gc_probability', 1);
ini_set('session.gc_divisor', 100);
ini_set('session.gc_maxlifetime', 200000);
ini_set('session.cookie_lifetime', 2000000);

//$conf['https'] = TRUE;
$conf['file_public_path'] = 'sites/admin/files';
$conf['file_private_path'] = 'sites/admin/private';
$conf['file_temporary_path'] = '/tmp';

$conf['syslog_identity'] = 'drupal_{{admin_url}}';

##Newly added vars
//default_theme
$conf['theme_default'] = '{{admin_theme_default}}';

//default admin_theme
$conf['admin_theme'] = '{{admin_admin_default_theme}}';

$conf['site_name'] = '{{admin_site_name}}';