<?php

$databases = array (
  'default' => array (
    'default' => array (
      'driver' => 'mysql',
      'database' => '{{cust_db}}',
      'username' => 'crcadmin',
      'password' => '3jf8e39Q',
      'charset' => 'utf8mb4',
      'collation' => 'utf8mb4_general_ci',
      'host' => 'localhost',
      'port' => '3306',
    ),
  ),

  // To be switched to remote IP of admin portal instance
  'crcdid' => array (
    'default' => array (
      'driver' => 'mysql',
      'database' => 'crc_dids',
      'username' => 'crcadmin',
      'password' => '3jf8e39Q',
      'charset' => 'utf8mb4',
      'collation' => 'utf8mb4_general_ci',
      //'host' => '52.90.43.16', //'127.0.0.1', // To be switched to '52.60.69.48'
      'host' => 'localhost',
      'port' => '3306',
    ),
  ),


  // DB for syncing/exposing changed users for admins at the Dashboard
  'crc_sync_dashboard' => array (
    'default' => array (
      'driver' => 'mysql',
      'database' => 'crc_admin',
      'username' => 'crcadmin',
      'password' => '3jf8e39Q',
      'charset' => 'utf8mb4',
      'collation' => 'utf8mb4_general_ci',
      'host' => '{{admin_host}}', // local, admin.dev2.esncfax.com
      //'host' => '52.90.43.16', // admin.esyncfax.com
      //'host' => '52.60.69.48', // admin.callmom.net
      'port' => '3306',
    ),
  ),

  // Local crcdid that remains to keep local auth data
  'crc_auth_local' => array (
    'default' => array (
      'driver' => 'mysql',
      'database' => 'crc_dids',
      'username' => 'crcadmin',
      'password' => '3jf8e39Q',
      'charset' => 'utf8mb4',
      'collation' => 'utf8mb4_general_ci',
      'host' => 'localhost',
      'port' => '3306',
    ),
  ),

 // Test remote crcdid DB, just for testing remote access
 'crcdid_remote' => array (
    'default' => array (
      'driver' => 'mysql',
      'database' => 'crc_dids',
      'username' => 'crcadmin',
      'password' => '3jf8e39Q',
      'charset' => 'utf8mb4',
      'collation' => 'utf8mb4_general_ci',
      //'host' => '52.90.43.16', //'127.0.0.1', // To be switched to '52.60.69.48'
      'host' => 'localhost',
      'port' => '3306',
    ),
  ),

  // Remote Amazon RDS MySql DB for synchronization with the old ESB sites
  'crc_sync_remote' => array (
    'default' => array (
      'driver' => 'mysql',
      'database' => 'replication_queue',
      'username' => 'crcadmin',
      'password' => 'TeYavaTH58ru',
      'host' => 'aws-rds-01.cs58lmeebk57.us-east-1.rds.amazonaws.com',
      'port' => '3306',
    ),
  ),



);
$db_prefix = '';

$update_free_access = FALSE;

/*$base_url = 'https://www.esyncfax.com';
$cookie_domain = 'www.esyncfax.com';
*/
$base_url = '{{scheme}}://{{customer_url}}';
$cookie_domain = '{{customer_url}}';
ini_set('session.gc_probability', 1);
ini_set('session.gc_divisor', 100);
ini_set('session.gc_maxlifetime', 200000);
ini_set('session.cookie_lifetime', 2000000);

/*$conf['https'] = TRUE;*/
$conf['file_public_path'] = 'sites/{{customer_dir}}/files';
$conf['file_private_path'] = 'sites/{{customer_dir}}/private';
$conf['file_temporary_path'] = '/tmp';

/*$conf['syslog_identity'] = 'drupal_.esyncfax.com';*/

$conf['site_name'] = '{{site_name}}';
//$conf['site_mail'] = "no-reply@esyncfax.com";
$conf['site_mail'] = '{{site_mail}}';
$conf['mimemail_from'] = '{{mimemail_from}}';
$conf['smtp_from'] = '{{smtp_from}}';
$conf['smtp_fromname'] = '{{smtp_fromname}}';
$conf['crc_admin_domain'] = "{{admin_url}}";
$conf['crc_admin_domain_scheme'] = "http";

$conf['crc_mailhandler_mailbox'] = array("name" => '{{crc_mailhandler_mailbox}}');
$conf['crc_mailhandler_disabled'] = {{ crc_mailhandler_disabled }} ;
$conf['crc_mode_self_signup'] = {{ crc_mode_self_signup }};
$conf['crc_mailimport_accept_anonymous'] = {{ crc_mailimport_accept_anonymous }};
$conf['crc_faxnumber_required'] =  {{ crc_faxnumber_required }};
$conf['twilio_number'] = '{{twilio_number}}';
$conf['twilio_account'] = '{{twilio_account}}';
$conf['twilio_token'] = '{{twilio_token}}';

$conf['amazons3_bucket'] = "{{amazons3_bucket}}";
$conf['amazons3_key'] = "{{amazons3_key}}";
$conf['amazons3_secret'] = "{{amazons3_secret}}";


$conf['mailsystem']['default-system'] = "{{mailsystem_default_system}}";//[default-system]

// Connection 1 (CRC Int...)
#$conf['aerialink_apiKey'] = '41f631f1c3098930e88748036112abc0';
#$conf['aerialink_apiSecret'] = '3cf01e3cac4d9192eeea636425e1b71b';

// Connection 2 (CRC-Endpoint-2)
$conf['aerialink_apiKey'] = '{{aerialink_apiKey}}';
$conf['aerialink_apiSecret'] = '{{aerialink_apiSecret}}';

// Connection 2-2 (CRC-Endpoint-2)
#$conf['aerialink_apiKey'] = '984610e655c69aa3a64da00cf786004e';
#$conf['aerialink_apiSecret'] = 'a396ccb2aedfbe232ba42f3815dd77e5';



$conf['gauth_login_client_id'] = '{{gauth_login_client_id}}';
$conf['gauth_login_client_secret'] = '{{gauth_login_client_secret}}';


$conf['views_data_export_gc_expires'] = {{ views_data_export_gc_expires }};

ini_set('display_errors', TRUE);
ini_set('display_startup_errors', TRUE);
$conf['theme_debug'] = '{{theme_debug}}';
$conf['composer_manager_file_dir'] = 'sites/{{customer_dir}}/files/composer';
//$conf['googleanalytics_account'] = '{{googleanalytics_account}}';
$conf['mail_system'] = array(
     'default-system' => '{{mail_system}}',
);
//default_theme
$conf['theme_default'] = '{{theme_default}}';

//default admin_theme
//$conf['admin_theme'] = '{{admin_theme}}';

$conf['site_frontpage'] = 'home';
